

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-white);
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;

}

input, label {
    width: 100%;
    box-sizing: border-box;
}
