.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition: scale 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
    scale: 1;

    transform-origin: bottom left;
}

.canvasOpen {
    @extend .canvas;

    scale: 1;
}
